@{
    ViewBag.Title = "Index";
}
<!--
     Index.cshtml
     Austin Cameron - Patrick Ross - Ryan Jameson
     Black Market Auction House
     This is the home page for the Black Market Auction House
-->


<div class="img1">
    <img src="~/Assets/Images/build-3.png" />
</div>